@CHARSET "UTF-8";

.login-form form button{
	margin-top: 0;
}
.boton{
	margin: 5%;
}
.imagePrice { 
	width: 100%; /* for IE 6 */
}
.imagePrice > h4 { 
	position: absolute; 
	top: 148pt; 
	left: 135pt; 
	width: 100%;
	z-index: 1;
}
.imagePrice > h5 { 
   	position: absolute;
	top: 170pt;
	left: 145pt;
	z-index: 1;
	text-align: center;
	width: 50pt;
	overflow: hidden;
	text-overflow: ellipsis;
}